<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <title>{{question.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "src/puzzle/style/puzzle_display.css" %}" rel="stylesheet" media="screen">
  </head>
  <body>
    <nav id="topbar" class="navbar navbar-default">

</nav>

    <div id="app_container">


      <div id="app_top">
              <h4>{{question.name}}</h4>
              <nav class="navbar navbar-expand-sm navbar-light bg-transparent section">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>


    </ul>
  </div>
</nav>
      </div>
<div id="app_left" class="app_grid">
  app_left<form>
    <input name="title" type="text" placeholder="Title?" />
    <textarea name="content" data-provide="markdown" rows="10"></textarea>
    <label class="checkbox">
      <input name="publish" type="checkbox"> Publish
    </label>
    <hr/>
    <button type="submit" class="btn">Submit</button>
  </form> 
</div>
<div id="column-gutter-1" class='gutter'>
</div>
<div id="app_right_top" class="app_grid">
  app_right_top
</div>
<div id="row-gutter-1" class='gutter'>
</div>
<div id="app_right_bottom" class="app_grid">
app_right_bottom
</div>

    </div>

    <nav id="bottombar" class="navbar navbar-default">

    </nav>

    <script  src="{% static "src/puzzle/dist/puzzle.min.js" %}"></script>

{% if section == "description" %}
{% elif section == "solution" %}

document.getElementById('description').innerHTML=marked("{{question.solution}}");
code_editor.setValue("{{question.solution_code}}",-1);

{% endif %}








  </body>
</html>
