{% extends "bone.html" %}
{% load static %}


{% block head %}
<title>PuzzleZone</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static "src/puzzle/style/puzzle_list.css" %}" rel="stylesheet" media="screen">
{% endblock head %}

{% block app_container %}

<div id="app_left" class="app_grid">
{{readme}}
</div>

<div id="column-gutter-1" class='gutter'>
</div>

<div id="app_right" class="app_grid">


  <div id="p_list" class="list-group">

    {% for question in page_obj %}

    <a href="{{question.id}}" class="list-group-item list-group-item-action">{{ question.name }}</a>

    {% endfor %}

  </div>





  <div id="p_page">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo</a></li>
    {% else %}
      <li  class="page-item disabled"><a class="page-link">&laquo</a></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li  class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
      {% else %}
        <li  class='page-item'><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li  class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link">&raquo</a></li>
    {% endif %}
    </ul>
    </div>

</div>








{% endblock app_container %}





{% block bottombar %}

    <nav id="bottombar" class="navbar navbar-expand-sm navbar-light bg-transparent">
        <div class="collapse navbar-collapse">

          <ul class="navbar-nav ml-auto navbar-right">
            <li class="nav-item ">
              {% if user.is_authenticated %}
              <button id="new_post" onclick="location.href='/puzzles/new/edit';" class="btn btn-outline-success my-2 my-sm-0">Post new puzzle</button>
              {% else %}
              <button id="new_post" onclick="location.href='/sign_in';" class="btn btn-outline-success my-2 my-sm-0">Post new puzzle</button>
              {% endif %}

            </li>
          </ul>

        </div>
    </nav>
{% endblock %}



{% block src %}
<script  src="{% static "src/puzzle/dist/puzzle_list.min.js" %}"></script>
{% endblock src %}
