{% extends "bone.html" %}
{% load static %}
{% block head %}
<title>Sign In</title>
<link href="{% static "src/puzzle/style/sign_in.css" %}" rel="stylesheet" media="screen">
{% endblock head %}
{% block app_container %}

<div id='login_block'>


  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table class='form_table'>
  <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
  </tr>
  <br>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
  </tr>
  </table>
<br>
  <button type="submit" value="login" class="btn btn-outline-success my-2 my-sm-0">Sign In</button>
  <input type="hidden" name="next" value="{{ next }}">
<br>
  <div onclick="location.href='{% url 'signup' %}';"  style=" margin-bottom: auto; cursor:pointer;color:blue;">Create new account</div>

  </form>



</div>

{% endblock app_container %}

{% block vendor %}
<script  src="{% static "src/puzzle/dist/vendors~display~edit~puzzle~puzzle_list~sign_in~submission.min.js" %}"></script>

{% endblock %}
{% block src %}
<script  src="{% static "src/puzzle/dist/sign_in.min.js" %}"></script>
{% endblock src %}
