{% extends "puzzle/display/puzzle_display_page.html" %}
{% load static %}

{% block app_left %}
<textarea id='description_editor'>
  {{question.description}}
</textarea>
<div id="preview">
</div>
{% endblock %}

{% block app_righttop %}
{{question.pre_solution}}
{% endblock %}

{% block title %}

{% if question.name == "new" %}
<input type ="text"  maxlength="256" id="q_name" value="* enter your title here *">
{% else %}
<input type ="text"  maxlength="256" id="q_name" value="{{question.name}}">
{% endif %}
<button title="Return to the question page" class="btn btn-sm btn-light" onclick="location.href='.';" ><span class="fas fa-home"></span></button>
{% endblock title %}

{% block app_top %}
  <nav class="navbar navbar-expand-sm navbar-light bg-transparent section">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-2">
      <li id="sec_edit" class="nav-item ">
        <a class="nav-link" href="./edit">Description </a>
      </li>
      <li id="sec_edit_solution"  class="nav-item">
        <a class="nav-link" href="./edit_solution">Solution</a>
      </li>
      <li id="sec_edit_test" class="nav-item">
        <a class="nav-link" href="./edit_test">Test</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-0 mr-2" >
      <li class="nav-item mr-4">
        <button id="return_default_edit" title="Return to your last draft"  class="btn btn-sm btn-light"><span class="fas fa-undo"></span></button>
      </li>
      {% if section == "edit_solution" %}

      <li class="nav-item ">
        <a><i>have solution</i> <input id="have_solution" type="checkbox">  </a>
      </li>
      {% else  %}
      <input id="have_solution" type="checkbox" style="display:none">

      {% endif  %}

    </ul>
    <ul class="navbar-nav ml-auto navbar-right">

      <li class="nav-item ">
        <button id="return_default_code" title="Return to your last draft"  class="btn btn-sm btn-light"><span class="fas fa-undo"></span></button>
      </li>
    </ul>

  </div>
</nav>
{% endblock app_top %}


{% block bottombar %}
    <nav id="bottombar" class="navbar navbar-expand-sm navbar-light bg-transparent">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto navbar-right">
            <li  class="nav-item ">
              <button id="toggle_preview" class="btn btn-outline-info my-2 my-sm-0" data-toggle="button">Preview</button>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto navbar-right">
            <li  class="nav-item ">
              <button id="save_draft" class="btn btn-outline-dark my-2 my-sm-0" >Save draft</button>

              <button id="submit_question" class="btn btn-outline-primary my-2 my-sm-0" >Submit</button>
            </li>
          </ul>

        </div>
    </nav>
{% endblock %}

{% block src %}
<input type="hidden" id="q_attr" q_id="{{question.id}}" q_name="{{question.name}}" sec="{{section}}">

<div hidden>
  <form method="post" id="q_form">
    {{question_form}}
    {% csrf_token %}
  </form>
</div>
<script  src="{% static "src/puzzle/dist/edit.min.js" %}"></script>

{% endblock src %}
