{% extends "bone.html" %}
{% load static %}

    {% block head %}

    <title>{{question.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "src/puzzle/style/puzzle_display.css" %}" rel="stylesheet" media="screen">

    {% endblock head %}


{% block app_container %}
      <div id="app_top">
        {% block title %}
              <span id="q_name" style="padding-left:5px">{{question.name}}</span>
              {% if edit_permission %}
                  <button title="Edit" class="btn btn-sm btn-light" onclick="location.href='edit';" ><span class="fas fa-edit"></span></button>
              {% endif %}
        {% endblock title %}
{% block app_top %}
              <nav class="navbar navbar-expand-sm navbar-light bg-transparent section">


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li id="sec_description" class="nav-item ">
        <a class="nav-link" href="./">Description </a>
      </li>
      {% if question.have_solution %}

      <li id="sec_solution"   class="nav-item">
        <a class="nav-link" href="./solution">Solution</a>
      </li>

      {% else %}

      <li id="sec_solution"   class="nav-item">
        <a class="nav-link disabled" >Solution</a>
      </li>

      {% endif %}
      <li id="sec_submission" class="nav-item">
        <a class="nav-link" href="./submission">Submission</a>
      </li>
      <!--
      <li id="sec_discussion" class="nav-item">
        <a class="nav-link" href="./discussion">Discussion</a>
      </li>
      -->
    </ul>
    <ul class="navbar-nav ml-auto navbar-right">

      <li class="nav-item ">
        <button id="return_default" title="Return to the default" class="btn btn-sm btn-light" ><span class="fas fa-undo"></span></button>
      </li>
    </ul>

  </div>
</nav>
{% endblock app_top %}
      </div>


<div id="app_left" class="app_grid">
  {% block app_left %}

{% endblock %}
</div>
<div id="column-gutter-1" class='gutter'>
</div>
<div id="app_right_top" class="app_grid">
  {% block app_righttop %}

{% endblock %}
</div>
<div id="row-gutter-1" class='gutter'>
</div>
<div id="app_right_bottom" class="app_grid">
  {% block app_rightbot %}

{% endblock %}
</div>


{% endblock app_container %}



{% block bottombar %}

    <nav id="bottombar" class="navbar navbar-expand-sm navbar-light bg-transparent">
        <div class="collapse navbar-collapse">
          <div>
          Contributed by {{question.creator}}
          </div>
          <ul class="navbar-nav ml-auto navbar-right">
            <li class="nav-item ">
              <button id="test_solution" class="btn btn-outline-success my-2 my-sm-0" >Test</button>
              <button id="submit_solution" class="btn btn-outline-dark my-2 my-sm-0" disabled>Submit</button>
            </li>
          </ul>
        </div>
    </nav>
{% endblock %}



 {% block src %}
<input type="hidden" id="q_attr" q_id="{{question.id}}" q_name="{{question.name}}" sec="{{section}}">
<script  src="{% static "src/puzzle/dist/display.min.js" %}"></script>
{% endblock src %}
