.navbar-nav>li>a{
font-size: 12px !important;
line-height: 12px !important;
padding:6px !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#app_container{
  margin:10px;left:0;right:0;
  position:absolute;
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: 70px 3fr 10px 1fr;border: 0.2px blue solid;
  bottom: 40px ;
  top:40px;
}

#app_top{
grid-column:1/4;
grid-row:1;
height:20 px;
}
#app_left{
grid-column:1;
grid-row:2/5;
}
#app_right_top{
grid-column:3;
grid-row:2;
}
#app_right_bottom{
grid-column:3;
grid-row:4;
}
.app_grid{
  border: 0.2px gray solid;
  overflow: auto;
}
.column-gutter-1{
  grid-column:2;
 grid-row:2/5;border: 0.2px red solid;
}
.row-gutter-1{
  grid-column:3;border: 0.2px red solid;
 grid-row:3;
}
#topbar,#bottombar{
  min-height:40px !important;
  width:100% !important;
  padding-left:20px !important;
}
#bottombar{
  position: absolute !important;
  bottom: 0 !important;
  margin-bottom: 0;
}
.option{
  margin-left:-20px !important;
  margin-bottom: 0 !important;
  min-height: 20px;
}
#description,#editor{
border: 0.2px gray solid;
min-height:400px;
word-wrap: break-word;
}
#descrip_editor{
  resize: none;
  height:100%;
  width:100%;
}
