{% extends "bone.html" %}
{% load static %}
{% block head %}
<title>Sign In</title>
<link href="{% static "src/puzzle/style/sign_in.css" %}" rel="stylesheet" media="screen">
{% endblock head %}
{% block app_container %}

<div id='login_block'>


  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  {% if form.errors %}
  <div style='color:red'>Your username and password didn't match. Please try again.</div>
  {% endif %}

  <table class='form_table'>
  <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
  </tr>
  <br>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
  </tr>
  </table>
<br>
  <button type="submit" value="login" class="btn btn-outline-success my-2 my-sm-0">Sign In</button>
  <input type="hidden" name="next" value="{{ next }}">
<br>
  <div onclick="location.href='{% url 'signup' %}';"  style=" margin-bottom: auto; cursor:pointer;color:blue;">Create new account</div>

  </form>



</div>

{% endblock app_container %}


{% block src %}
<script  src="{% static "src/puzzle/dist/sign_in.min.js" %}"></script>
{% endblock src %}
