#app_container{
  margin:10px;left:0;right:0;
  position:absolute;
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows:1fr;
  border: 2px #CCCCCC solid;
  bottom: 40px ;
  top:40px;
  background-color: white;
}

#app_left{

grid-column:1;
grid-row:1;
padding:10px;
}
#app_right{
    position: relative;
grid-column:3;
grid-row:1;
padding:10px;
}

#p_list,#p_page{
display: block !important;

}

.gutter{
  background-color: #CCCCCC;
cursor: grab;
}
#p_page{

  position: absolute !important;
  bottom: 0 !important;
  left:50%  !important;
  transform: translate(-50%, -50%);
}
