#login_block{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px #CCCCCC solid;
  padding:50px;
 text-align: center;
  }
#app_container{
  margin:auto;

  position: absolute;
    top: 45%;
     left: 50%;
     transform: translate(-50%, 0);
     background-color: #FAFAFA;

}

.form_table{
  display:table-cell;
  table-layout: fixed;
  margin:auto;
font-size: 20px;
}
.helptext,ul{
font-size: 10px;
display: block;
list-style: none;
}
ul.errorlist{
color:red;
}

input{
  float:right;
}
